html{
  color: white;
  font-size: 10px;
  font-family: "Lora", serif;
  background-color: black;
  background-image: url(Hintergrund.jpg);
}
h1{
    font-size: 50px;
    text-align: center;
    text-shadow: 5px 5px 2px #06337A;
    margin: 0;
    padding: 20px 0 0 0;
}
h2{
    font-size: 30px;
    text-align: center;
}
h3{
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 0px 0 0 0;
}
p{
    font-size: 16px;
    text-align: center;
    line-height: 2;
    letter-spacing: 2px;
}
body{
    width: 1000px;
    margin: 0 auto;
    padding: 10px 50px 10px 50px;
    background-color: #000518;
    border: 5px solid #02122B;
}
img {
    display: block;
    margin: 0 auto;
  }
button{
    display: block;
    margin: 0 auto;
}